#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 110px;
}

#featuresnone {
    display: none;
}

#home {
    display: flex;
    flex-direction: column;
}

#home img {
    height: auto;
    border-radius: 10px;
    margin-right: 0px;
    width: 282px;
    height: 260px;
    margin-bottom: 10px;
    align-self: center;
}

.courses .course .course-image {
    margin-bottom: 0px;
    position: relative;
}

.courses .course .course-info .title {
   
    margin-top: 0px;
}

#training .items {
    flex-direction: column;
}

#training .items .item {
    width: 100%;
}

.courses .course {
    flex-direction: column;
}